.whole{
	background: white;
}
.heading img{
	    width: 190px;
    height: 85px;
    margin-left: 23px;

}
.ht i{
       margin-left: auto;   

}
.ht i{
	font-size: 27px;
	color:lightgreen;
	
}
.carousel-caption{
    color: #fff;
    position: absolute;
    top: 67%;
    left: 82px;
  }
 .carousel-caption  button{
    font-size: 30px;
    background-color: #0000009c;
    color:white;
    font-weight: bold;
   
  }
  .carousel-caption  button:hover{
    text-shadow: 1px 1px 1px lightblue;
    color:white;
  }
  .carousel-caption a{
  	text-decoration: none;
  	color:white;
  

  }
.a a{
	font-family: 'Yanone Kaffeesatz';
}

.navh{
	
	width: 140px;
}
.navh h3{
	margin-left: 21px;
	color:green;
	font-family: Bookman, URW Bookman L, serif;
}
.navh p{
	margin-left: 10px;
}
.a{
	background:linear-gradient(#d2f1c0,lightgreen);
	
}
.z a{
	text-decoration: none;
	color:black;

}
.z a:hover{
	
	color:green;
}
.z li{
	padding-left: 40px;
}
.imgh {
	
	height: 500px;

}
.imgh img{
	height: 500px;
	width: 100%;
}
.intro{
	background-color: #d2f1c0;
	padding: 44px;
}
.intro
{
	word-spacing: 1px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 30px;
}
.simg{
	background:linear-gradient(#d2f1c0,#caf1ca);
}
.ssimg h1{
	font-family: 'Yanone Kaffeesatz';
}
.imgcard{
	background-color:#f7fbff; 
	box-shadow: 0px 0px 9px #000;
	border-radius: 9px;


}
.imgcard img{
	    padding-top: 19px;
    width: 254px;
}
.termites {
	width:210px;
	height: 146px;
}
.imgcard h2{
	font-family: 'Yanone Kaffeesatz';
}
.imgcard p{
	padding:10px;
	text-align: justify;
}
.imgcard a{
	text-decoration: none;
	color:black;
}
.imgcard a:hover{
	text-decoration: underline;
	color:green;
}
.footer {
	background:linear-gradient(#d2f1c0,#d2f1c0);
	color:black;
}
.footer img{
	    width: 213px;
    border-radius: 88px;
    
}
.footer .image{
	    position: relative;
          top: 60px;
}
.lfooter{
			background-color:#101114;
			height: 65px;
		}
		.lfooter p{
			padding:10px;
		}
.abouti{
	background-color: #d2f1c0; 
	padding: 44px;

word-spacing: 1px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 30px;
}
.abouti h1{
	font-family: 'Yanone Kaffeesatz';
}
.abouti img{
	    width: 337px;
    height: 340px;
    box-shadow: 0px 0px 9px #000;

}
.intro h2{
	font-family: 'Yanone Kaffeesatz';
}
.rodentintro img{
	    height: 391px;
    width: 795px;
   
}
.rodentintro{
	background-color:#d2f1c0; 
	padding: 44px;

word-spacing: 1px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 30px;
}
.guaranteeh h2{
	
	background-color: #88ce88;
	color:black;
	height:51px;
	font-family: 'Yanone Kaffeesatz';

}
.guaranteeh{
	background-color: #d2f1c0;	
}
.contact img{
	width:120px;
}
.contact h3{
		font-family: 'Yanone Kaffeesatz';
}
.contact label{
		font-family: 'Yanone Kaffeesatz';
}
.contact p{
		font-family: 'Yanone Kaffeesatz';
}
.cont{
	background-color:#f0f0f0 ;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.abouthead h1{
	font-family: 'Yanone Kaffeesatz';
}
.footerno1{
	margin-left:81px;
}
.footerno b:hover{
	color:green;
	text-decoration: underline;
}

	.inner{
		overflow: hidden;
	}
	.inner img{
		transition: all 1.5s ease;
	}
	.inner:hover img{
		transform: scale(1.5);
		
	}
